@import 'tailwindcss';

@theme {
  --color-brand-primary: #5cb85c;
  --color-brand-secondary: #000;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  body {
    @apply text-base text-[#373a3c] antialiased;
  }
}
